/* line 9, app/assets/stylesheets/common.scss */
.nowrap,
.ellipsis {
  white-space: nowrap;
}

/* line 14, app/assets/stylesheets/common.scss */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 21, app/assets/stylesheets/common.scss */
.text-light-primary {
  color: #66b0ff;
}

/* line 24, app/assets/stylesheets/common.scss */
.text-light-primary:hover {
  color: #3395ff;
}

/* line 30, app/assets/stylesheets/common.scss */
label.required::after {
  content: '\002a';
  margin-left: 1px;
  color: red;
}

/* line 37, app/assets/stylesheets/common.scss */
.no-image {
  position: relative;
}

/* line 40, app/assets/stylesheets/common.scss */
.no-image::before {
  content: '';
  display: block;
  padding-top: 100%;
}

/* line 46, app/assets/stylesheets/common.scss */
.no-image i {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  font-size: 40px;
}

/* line 54, app/assets/stylesheets/common.scss */
.variation_asin_area {
  max-width: 500px;
  overflow-wrap: break-word;
}

/* line 59, app/assets/stylesheets/common.scss */
.red_accent {
  font-weight: bold;
  color: #c41a1a;
}

/* line 65, app/assets/stylesheets/common.scss */
.btn-registration {
  color: #212529;
  background: linear-gradient(0deg, #f5b432 0%, #fecf4d 100%);
  box-shadow: 0 1px 3px 0 #BFBFBF;
  border: solid #000000 1px;
  transition: unset !important;
}

/* line 73, app/assets/stylesheets/common.scss */
.btn-registration:hover {
  background: #F5B432 !important;
}

/* line 77, app/assets/stylesheets/common.scss */
.registration_title {
  font-size: 2.2rem;
}

/* line 81, app/assets/stylesheets/common.scss */
.manual_title {
  color: red;
  font-size: 1.4rem;
}
