/* line 1, app/assets/stylesheets/flash.scss */
.navbar-alert,
.alert {
  line-height: 2;
}

/* line 5, app/assets/stylesheets/flash.scss */
.navbar-alert .close,
.alert .close {
  position: absolute;
  width: 2rem;
  height: 2rem;
}

/* line 14, app/assets/stylesheets/flash.scss */
div.alert {
  padding-right: 2.5rem;
}

/* line 17, app/assets/stylesheets/flash.scss */
div.alert .close {
  top: .5rem;
  right: .5rem;
}

/* line 23, app/assets/stylesheets/flash.scss */
div.navbar-alert {
  margin-bottom: 0;
  padding-right: 3rem;
  border-radius: 0;
}

/* line 28, app/assets/stylesheets/flash.scss */
div.navbar-alert .close {
  top: .5rem;
  right: 1rem;
}
