.navbar-alert,
.alert {
  line-height: 2;

  .close {
    position: absolute;
    width: 2rem;
    height: 2rem;
  }
}

// !important を使わないために div を指定している
div {
  &.alert {
    padding-right: 2.5rem;

    .close {
      top: .5rem;
      right: .5rem;
    }
  }

  &.navbar-alert {
    margin-bottom: 0;
    padding-right: 3rem;
    border-radius: 0;

    .close {
      top: .5rem;
      right: 1rem;
    }
  }
}
