footer.footer.navbar.navbar-expand-md.navbar-light.bg-light
  .container-fluid
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          = link_to 'お問い合わせ',
            'https://www.unchi.com/unchi/contact',
            class: 'nav-link',
            target: :_blank,
            rel: 'noopener noreferrer'
        li.nav-item
          = link_to '特商法に基づく表記',
            'https://www.unchi.com/unchi/lp/tokusho',
            class: 'nav-link',
            target: :_blank,
            rel: 'noopener noreferrer'

        li.nav-item
          = link_to '利用規約',
            'https://www.unchi.com/unchi/terms',
            class: 'nav-link',
            target: :_blank,
            rel: 'noopener noreferrer'

        li.nav-item
          = link_to 'プライバシーポリシー',
            'https://www.unchi.com/unchi/privacy',
            class: 'nav-link',
            target: :_blank,
            rel: 'noopener noreferrer'
